
/*© 2019-2020 Maximilian Baumann All Rights Reserved*/

* {
        margin: 0;
        padding: 0;
}

body {
        margin: 30px 0px;
        padding: 0px;
        background: #79B1B8 repeat left top;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #000000;
}

p, ul, ol {
        margin: 0px;
        padding: 0px;
        line-height: 23px;
}

h1, h2, h3 {
        margin: 0px;
        padding: 0px;
}

h1 {
        font-size: 3em;
}

h2 {
        font-size: 2em;
}

h3 {
        font-size: 1em;
        margin: 10px;
}

p, ul, ol {
        margin-top: 1.5em;
}

ul, ol {
        margin-left: 3em;
}

a {
        color: #E5007D;
}

blockquote {
        margin-left: 3em;
        margin-right: 3em;
}

#header {
        width: 900px;
        height: 270px;
        margin: 0 auto;
        padding: 0px;
        background: url(bilder/4.jpg) no-repeat left top;
}

#navigation {
        width: 900px;
        height: 51px;
        margin: 0px auto;
        padding: 0px;
        background: #212226;
}

#navigation ul {
        margin: 0px;
        list-style: none;
}

#navigation li {
        display: inline;
}

#navigation a {
        display: block;
        float: left;
        height: 39px;
        margin-right: 2px;
        padding: 12px 30px 0px 30px;
        text-decoration: none;
        color: #FFFFFF;
}

#navigation a:hover {
        color: #FFFFFFF;
        background: #E5007D;
        color: white;
}

#navigation .first {
        color: #E5007D;
}
#navigation .twitter {
       float: right;
       display: block;
       margin: 0 auto;
       background: #00acee
}
#logo {
        width: 270px;
        padding-top: 12px;
}

#logo h1 {
        margin: 90px 0px 0px 0px;
        padding: 0px;
        letter-spacing: -3px;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 34px;
        color: #FFFFFF
}

#logo p {
        margin: -8px;
        padding: 0px 0px 0px 12px;
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: normal;
        color: #FFFFFF
}

#logo span {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
}

#logo a {
        text-decoration: none;
        color: #FFFFFF
}

#splash {
        width: 900px;
        height: 300px;
        margin: 0px auto;
        padding: 30px 0px;
}

#content {
        width: 900px;
        margin: 0px auto;
        padding: 40px 0px;
        background: #FFFFFF;
}

#page {
        width: 840px;
        margin: 0px auto;
        padding: 0px 30px;
}

#column1 {
        float: left;
        width: 520px;
        padding-right: 10px;
}

#column1 h2 {
        padding-bottom: 6px;
        letter-spacing: -1px;
        font-size: 20px;
        font-weight: normal;
        color: #525250;
}

#column2 {
        float: right;
        border-left-color: black;
        border-left-width: 5px;
        border-left-style: solid;
         overflow: hidden;
        width: 300px;
}

#column2 h2 {
        padding: 6px 10px;
        background: #00C6FF;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: normal;
        color: #FFFFFF;
}

#column2 ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
}

#column2 li {
        margin: 0px 10px;
        padding: 8px 0px;
}

#column2 li a {
        padding-left: 15px;
        text-decoration: none;
}

.separator {
}

.more {
        padding: 3px 10px;
        background: #474747;
        text-decoration: none;
        font-size: 10px;
        color: #FFFFFF;
}

#footer {
        width: 900px;
        margin: 0px auto;
        padding: 5px 0px;
}

#footer p {
        text-transform: uppercase;
        font-size: 10px;
        color: #90908E;
}

#footer .links {
        text-decoration: none;
        color: #FFFFFF;
}

.image-left {
        float: left;
        margin: 0px 0px 20px 10px;
}
.image-right {
    float: right;
    margin: 0px 0px 10px 10px;
}
hr{
width: 103%;
border: none;
margin: 0 auto;
color: black;
}
hr.linie {
background: black;
height: 5px;
}
hr.striche {
height: 5px;
border-top: 1px dotted black;
}

/*© 2019-2020 Maximilian Baumann All Rights Reserved*/