
/*� 2019-2020 Maximilian Baumann All Rights Reserved*/

*

body {

	background-image: url('200120_DIGIMARI_logo_2-1.jpg');
	background-attachment: fixed;
	color: #333;
}

.box {
	border-radius: 3px;
	background: grey; margin: auto; padding: 12px;
	border-style: solid;
	border-color: white;
}

.lightbox {
	zoom: 1.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.8);
	text-align: center;
	margin: auto;

}

div.horizontal {
	display: flex;
	justify-content: center;
	height: 100%;
}

div.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
